@charset "UTF-8"; 

:root{ 
    --fontePadrao: Arial, Helvetica, sans-serif; 
} 

*{ 
    margin: 0px; 
    padding: 0px; 
} 

body{ 
    font-family: var(--fontePadrao); 
    text-align: center; 
    background-image: url('assets/images/fundo-madeira.jpg'); 
    background-position: top center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-attachment: fixed; 
} 

main{ 
    height: 100vh; 
    position: relative; 
} 


section#phone{ 
    background-image: url('assets/images/frame-iphone.png'); 
    background-size: contain;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    height: 403px;
    width: 200px;
    background-repeat: no-repeat;
} 

section#phone iframe{
    position: relative;
    top: 51px;
    left: 0px;
    width: 172px;
    height: 304px;
}

#socialMedia{
    display: flex;
    justify-content: right;
    flex-direction: column;
    gap: 5px;
    position: absolute; /* Permite posicionamento personalizado */
    right: 20px; /* Define 20px de distância do lado esquerdo */
}

section#socialMedia{
    text-align: right;
}

section#socialMedia > a > img{
    object-fit: cover;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.571);
    box-sizing: border-box;
    transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.5s;
}

section#socialMedia > a > img:hover{
    border: 2px solid rgba(255, 255, 255, 0.679);
    transform: scale(1.1); /* Aumenta 10% */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra */
}



input[type=button]{ 
    background-color: #d8d8d8; 
    color: white; 
    padding: 5px 5px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 10pt; 
} 

input[type=button]:hover{ 
    background-color: #969696; 
} 

footer{ 
    font-family: var(--fontePadrao); 
    padding: 20px; 
    font-size: clamp(0.8rem, 2vw, 1rem); 
    background-color: black; 
    color: white; 
} 

footer p{ 
    text-align: center; 
    color: white; 
} 

footer a{ 
    padding: 0px; 
    color: white; 
    text-decoration: none; 
    font-weight: bold; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.37); 
    transition: opacity 0.3s ease; 
} 

footer a::before, footer a::after{ 
    opacity: 0; 
    transition: opacity 0.3s ease; 
} 

footer a::before{ 
    content: '⇒'; 
} 

footer a::after{ 
    content: '⇐'; 
} 

footer a:hover::before, footer a:hover::after{ 
    opacity: 1; 
}