body{
    background-color: black;
    color: white;
    font: normal 15pt Arial;
    text-align: center;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    max-width: 500px;
    margin: 0 auto;
}

.gallery a {
    flex: 1 1 calc(50% - 15px);  /* 50% da largura com gap */
    text-align: center;
}

.gallery img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.05);
}
