@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}
/*
Paleta de cores:
#054a91
#3e7cb1
#ccdbdc
#9ad1d4
#f17300
*/
body{
    background-image: linear-gradient(45deg, #ccdbdc, #9ad1d4);
}
main{
    margin: auto;
    background-color: rgb(245, 245, 245);
    border-radius: 15px;
    width: 600px;
    padding: 10px;
    box-shadow: 5px 5px 15px #0325469a;
}
h1{ 
    text-align: center;
    color: #f17300;
    text-shadow: 1px 1px 2px #53280093;
}
h2{
    color: #a31621;
}

p{
    text-align: justify;
}

p#github{
    text-align: center;
}

a {
    color: #e8de29;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.37);
}
a:hover {
    color: #edf100;
    text-decoration: underline;
}