@charset "UTF-8";

@media screen and (min-width: 768px) {
    body{
        grid-template-columns: 1fr repeat(4, minmax(auto, 200px)) 1fr;
        grid-template-rows: .5fr 2fr .5fr .5fr;
        grid-template-areas: 
            "header header header header header header"
            ".      main   main   main   sidebar .    "
            ".      aside1 aside1 aside2 aside2  .    "
            "footer footer footer footer footer footer"
        ;
    }
}