@charset "UTF-8";

@font-face {
    font-family: 'Chomsky';
    src: url('assets/fontes/Chomsky.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/*
Paleta de cores:
#000807
#fff3b0
#e09f3e
#9e2a2b
#540b0e
*/
.paletaCores{
    color: #000807;
    color: #fff3b0;
    color: #e09f3e;
    color: #9e2a2b;
    color: #540b0e;
}

body{
    background-color: #fffdef;
    font: normal 1em Arial;
}

section{
    padding-left: 10px;
}

h1{
    margin: 20px;
}

header{
    font-family: Chomsky, Arial, Helvetica, sans-serif;
    font-size: 3em;
    margin: auto;
    text-align: center;
}

main{
    padding-top: 5px;
    background-color: #fff3b0;
    border-radius: 10px;
    box-shadow: 1px 1px 2px #540b0d63;
}

nav{
    color: #540b0e;
}

a{
    margin: 2px;
    color: #540b0e;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.37);
    display: inline-block;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

a:hover {
    transform: scale(1.05);
}

a::before,
a::after {
    opacity: 0;
    transition: opacity 0.3s ease;
}

a::before {
    content: '⇒';
}

a::after {
    content: '⇐';
}

a:hover::before,
a:hover::after {
    opacity: 1;
}

p{
    border-radius: 5px;
}

p#github{
    background-color: #e09f3e;
    padding: 15px;
    font-size: 1.3em;
    text-align: center;
    box-shadow: 2px 2px 4px #540b0de1;
}