@charset "UTF-8";

:root{
    --fontePadrao: Arial, Helvetica, sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: var(--fontePadrao);
    text-align: center;
}

iframe{
    width: 600px;
    height: 600px;
}

input[type=button]{
    background-color: #d8d8d8;
    color: white;
    padding: 5px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 10pt;
}

input[type=button]:hover{
    background-color: #969696;
}

footer{
    font-family: var(--fontePadrao);
    padding: 20px;
    font-size: clamp(0.8rem, 2vw, 1rem);
    background-color: black;
    color: white;
}

footer p{
    text-align: center;
    color: white;
}

footer a{
    padding: 0px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.37);
    transition: opacity 0.3s ease;
}

footer a::before, footer a::after{
    opacity: 0;
    transition: opacity 0.3s ease;
}

footer a::before{
    content: '⇒';
}

footer a::after{
    content: '⇐';
}

footer a:hover::before, footer a:hover::after{
    opacity: 1;
}